* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  text-decoration: none;
}
.header {
  width: 100%;
  background-color: #fff;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  position: fixed;
  padding: 16px 0;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 32px;
}
.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.container h1 {
  font-size: 36px;
  color: #2d2640;
  font-family: "DM Serif Display", serif;
  font-weight: bold;
}
.navbar a {
  font-size: 20px;
  font-weight: 700;
  color: #6e6b74;
  margin-left: 32px;
  text-transform: uppercase;
  font-family: "Karla", sans-serif;
}
.navbar a:hover {
  color: #2d2640;
}
.btn:hover {
  color: #2d2640;
}
.mid {
  padding: 80px 0;
}
.btn {
  border: 1px solid #2d2640;
  padding: 12px 18px;
  border-radius: 3px;
  display: inline-block;
}
.mydiv{
    background-color: #2d2640;
    color: #ffffff;
    padding: 90px 0;
}
.cocola{
    padding-top: 50px;
    align-items: flex-start;
}
.left_side h4{
    font-size: 56px;
    font-weight: bold;
    font-family: "Dm Serif Display", serif;
}
.left_side p{
    font-size: 18px;
    color:#cdc9c9;
    line-height: 1.6;
    padding: 25px 0;
    font-family: "Karla", sans-serif;
    margin-bottom: 15px;
}
.left_side{
    flex: 0 1 42%;
}
.img{
   max-width: 100%;
   max-height: 100%;
}
.colo{
    margin-bottom: -160px;
}
.mid{
    margin-top: 60px;
}
.left_side h2 {
  font-size: 48px;
  padding: 18px 0;
}
.left_side h5 {
  font-size: 20px;
  line-height: 1.6;
  margin: 24px 0;
  font-family: "Karla", sans-serif;
  color: #6e6b74;
  font-weight: 400;
}

.left_side a {
  font-size: 20px;
  font-weight: 700;
  font-family: "karla", sans-serif;
}
.col{
    color: #6e6b74;
}
.fa-solid {
  font-size: 25px;
  background-color: #2d2640;
  border-radius: 50%;
  padding: 12px;
  color: #ffffff;
}
.line {
    border: 1.9px solid #6e6b74;
    width: 250px;
    margin-bottom: 15px;
}
.hit {
  font-size: 48px;
  font-family: "Dm Serif Display", serif;
  margin-bottom: 50px;
}
.box {
  margin-bottom: 80px;
}
.div1 {
  width: 33%;
}
.div1 h3 {
  font-size: 33px;
  font-family: "DM Serif Display", serif;
  padding: 20px 0;
}
.div1 p {
  color: #6e6b74;
  font-size: 16px;
  font-family: "Karla", sans-serif;
  line-height: 1.6;
}
.third {
  background-color: #2d2640;
  padding: 0%;
  margin-bottom: 70px;
  color: #ffffff;
}
.third_last {
  padding: 80px 60px;
}
.third_last h2 {
  font-size: 44px;
  font-family: "DM Serif Display", serif;
  line-height: 4rem;
}
.btn1 {
  font-size: 20px;
  font-weight: 700;
  color: #ffffff;
  text-transform: uppercase;
  font-family: "Karla", sans-serif;
  border: 1px solid #ffffff;
  padding: 15px 18px;
  border-radius: 3px;
}
.btn1:hover {
  background-color: #fff;
  color: #2d2640;
}
.bot {
  border-bottom: 1px solid #2d2640;
  padding: 10px 0;
}
.bot nav i {
  font-size: 25px;
  padding-left: 32px;
}
.fa-brands:hover {
  color: #6e6b74;
}
.container .btn:hover {
  color: white;
  background-color: #2d2640;
}
.fot_top {
  text-align: center;
  padding: 24px 0;
}
.fot_top a {
  font-size: 24px;
  margin-left: 32px;
  font-family: "Karla", sans-serif;
  color: #6e6b74;
}
.fot_top a:hover {
  color: #2d2640;
}
.fot_bar {
  text-align: center;
  background-color: #2d2640;
  padding: 32px 0;
  font-size: 20px;
  color: #cdc9c9;
  font-family: "karla";
}
