*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    text-decoration: none;
}
header{
    position: fixed;
    z-index: 40;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
.logo{
    text-transform: uppercase;
    font-size: 24px;

}